.section-institutional {
    margin: 100px 0px;
    display: flex;
    padding-left: 4rem;
    gap: 2rem; 
    max-width: 1404px;
    @media (max-width: 1024px) { 
        flex-direction: column;
        padding: 0 20px;
        margin: 0 auto;
        max-width: 100%;        
        width: 100%; 
        gap: 0px;
    }
    .institutional-image img {
        width: 631px;
        height: 499px;

        @media (max-width: 768px) {
            width: 100%;
            height: 187px;
            gap: 10px;
            text-align: center;
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            width: 90%;
            height: 400px;
            gap: 10px;
            padding-left: 60px;
            margin-bottom: 20px;
        }
    }

    .institutional-content {
        max-width: 660px;
        text-align: justify;
        @media (max-width: 1024px) {
            flex-direction: column;
            padding: 0;
            margin-left: auto;
            margin-right: auto; 
            width: 100%;
        }
        h2 {
        font-weight: 400;
        font-size: 2rem;
        color: var(--color-title);

        @media (max-width: 768px) {
            font-size: 1.5rem;
        }
        }

        p {
        font-size: 1rem;
        color: var(--color-text);
        line-height: 1.5rem;
        margin: 25px 0;

        @media (max-width: 768px) {
            font-size: 0.875rem;
            margin: 10px 0;
        }
        }

        button {
            width: 180px;
            height: 40px;
            background-color: var(--color-primary);
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: #368bb3;
            }
            @media(max-width: 1024px){
                margin: 12px 0;
            }
        }

        @media (max-width: 768px) {
            display: contents; 
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        padding: 0 20px;

        .institutional-image {
        order: 2;
        }

        h2,
        p {
        order: 1;
        }

        button {
        order: 3;
        align-self: flex-start;
        }
    }
}
