:root {
    /* Variáveis de fontes */
    --font-primary: 'Hedvig Letters Sans', sans-serif;
    --font-secondary: 'Nunito', sans-serif ;

    /* Variáveis de cores*/
    --color-text: #686868;
    --color-title: #498DAE;
    --color-primary: #61A9CC;
    --color-secondary: #FFFFFF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}