.accordion-item {
    width: 100%;
    margin-bottom: 10px;
    .accordion-header {
        width: 100%;
        background: var(--color-primary);
        color: var(--color-secondary);
        font-weight: 400;
        padding: 12px;
        border: none;
        text-align: left;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        text-transform: uppercase;
    }
    
    .accordion-content {
        background: #f8f8f8;
        padding: 10px 15px;
        border: 1px solid #ddd;
    }
    
    a {
        color: var(--color-text);
        text-decoration: none;
        &:hover {
        color: var(--color-primary);
        }
    }
}
